.principal {
  display: flex;
  align-items: stretch;
  width: 700px;
  margin: 0 auto;
  background: #ddd;
}

.column {
  display: flex;
  flex-direction: column;
}

.chip {
  width: 100px;
  height: 100px;
}